wsdl/auth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="https://207.248.81.69/api/auth-api.php"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://207.248.81.69/api/auth-api.php">

    <types>
        <xsd:schema targetNamespace="https://207.248.81.69/api/auth-api.php">
            <xsd:element name="loginRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="email" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                        <xsd:element name="ou" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="loginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="token" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="loginRequest">
        <part name="parameters" element="tns:loginRequest"/>
    </message>
    <message name="loginResponse">
        <part name="parameters" element="tns:loginResponse"/>
    </message>

    <portType name="AuthAPIPortType">
        <operation name="login">
            <input message="tns:loginRequest"/>
            <output message="tns:loginResponse"/>
        </operation>
    </portType>

    <binding name="AuthAPIBinding" type="tns:AuthAPIPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="login">
            <soap:operation soapAction="https://207.248.81.69/api/auth-api.php#auth"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="AuthAPIService">
        <port name="AuthAPIPort" binding="tns:AuthAPIBinding">
            <soap:address location="https://207.248.81.69/api/auth-api.php"/>
        </port>
    </service>

</definitions>